<h3>Change Visually</h3>
<ul>
    <li>@Html.ActionLink("Checkbox", "Checkbox", "ChangeVisually")</li>
</ul>

<h3>Detect Form Changes</h3>
<ul>
    <li>@Html.ActionLink("Complicated Form", "Index", "DetectFormChanges")</li>
</ul>