<h3>Change Visually</h3>
<ul>
    <li>@Html.ActionLink("Checkbox", "Checkbox", "ChangeVisually")</li>
    <li>@Html.ActionLink("Textbox", "Textbox", "ChangeVisually")</li>
</ul>

<h3>Detect Form Changes</h3>
<ul>
    <li>@Html.ActionLink("Complicated Form", "Index", "DetectFormChanges")</li>
</ul>

<h3>Javascript Tests</h3>
<ul>
    <li>@Html.ActionLink("Jasmine BDD Output", "Run", "Jasmine")</li>
</ul>