<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.3.1" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.0.0" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net451" />
  <package id="NUnit" version="2.6.1" targetFramework="net451" />
  <package id="Selenium.Support" version="2.53.0" targetFramework="net451" />
  <package id="Selenium.WebDriver" version="3.5.1" targetFramework="net451" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.42.0.1" targetFramework="net451" />
  <package id="TestStack.BDDfy" version="3.13" targetFramework="net451" />
  <package id="TestStack.Seleno" version="0.9.61" targetFramework="net451" />
</packages>